
*{	padding: 0;
	margin: 3;
	border: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Roboto', sans-serif;
    background-color: white;
}
.header {
    background: linear-gradient(to top, #F6EFD2, #CEAD78);
    padding: 25px;
    border: 1px solid black;
    display: -webkit-flex; 
    justify-content: space-around;
    align-items: center;
}



.nav-list {
    /*display: flex;*/  /*размещение элементов меню  в строку */
    justify-content: flex-end;
    /*align-items: center;*/
}
.links {
    color:blue;
}


h1 {
    text-align: center;
    padding: 20px;
}
h2 {
    display: inline-block;
    width: 50px;
    background: #CDCDCD;
    border-radius: 25% 10%;
    padding: 10px 30px 10px 30px;
    text-align: center;
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
  
   }
p {
    text-align: center;
    padding: 10px;}

.section1 {
    text-align: left;
    margin: -30px 300px 20px 300px;}    

.photo {
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   
}

.section {
        border-radius: 100px; /* Радиус скругления */
        width: 100%;
        background-color: grey;
        border-bottom: 1px solid black;
}


.rs_school {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 20px 0;
}
.rs {
    width: 10%;
}

ul li{list-style: none;}
li {
    line-height: 1.8; /* Межстрочное расстояние */
   }


pre {font-size: 20px;
     /*text-align: left;*/
     margin: 0px 0px 0px -229px;}   
